body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
}

#header-nav {
  background-color: gray;
  border-radius: 0;
  border: 2px solid black;
  padding-bottom: 5px;
}
.navbar-brand {
  padding-top: 17px;
}

.navbar-brand h1 { /*  Name */
  font-family: 'Lora', serif;
  color: white;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-toggle{
  position: relative;
  top: 3px;
}

#nav-list {
  margin-top: 10px;

}
#nav-list a {
  color: black;
  background-color: white;
  font-weight: bold;
}

#nav-list a:hover{
  background: #ea5b5b;
}

.navbar-default .navbar-toggle .icon-bar{
  background-color: black;
}

li{
	border: 1px solid black; 
}

h2{
  font-size: 1.7em;
}

section{
	margin-top: 15px;
	margin-bottom: 15px;
}

section a{
	font-weight: bolder;
	color: #111590;
}

section .paint-color{
	background-color: gray;
	padding: 15px;
}


.paint-color h3{
	margin: 10px;
}


#text p{
	text-align: justify;
}